<header>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" routerLink=" /'' ">
        Prestamos MX
      </button>
      <span class="spacer1"></span>
        <button mat-button color="accent">Ayuda</button>
        <button mat-button color="accent">Contacto</button>
      <span class="example-spacer"></span>

        <div *ngIf="userLogged | async as user; else btnSignIn">
          <button mat-button [matMenuTriggerFor]="menu">{{user.email}}</button>
            <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="login" (click)="logOut()">Salir</button>
        </mat-menu>
      </div>
    </mat-toolbar>

  <ng-template #btnSignIn>
    <button mat-raised-button routerLink="/login">Iniciar Sesión</button>
  </ng-template>
</header>

    
  


  


 
