<div>
    <img 
      src="https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475664_960_720.jpg" 
      alt="prestamos personales" class="background-image">
    <mat-card class="example-card">
      <mat-card-title>Tasa preferencial de</mat-card-title>
      <mat-card-title>15.00% hasta 61.00% </mat-card-title>
      <br>
      <h1>Solicita tu préstamo </h1>
        <div>
          <button mat-button color="accent" routerLink="/register">Regístrate con tu email</button>
        </div>
       <div>
        <button mat-button color="primary">Simula tu préstamo</button>
       </div>
       <mat-card-actions align="end">
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>



