.simulator-card {
    width: 80%;
    height: 60%;
    margin-bottom: 80px;
    margin-left: 0px;
  }
  *mat-grid-tile {
    background: lightblue;
  }
 table {
  width: 90%;
  height: 65%;
  margin-bottom: 80px;
  margin-left: 0px;
}
mat-slider {
  width: 300px;
}
