<mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile>
          <mat-card class="simulator-card">
              <mat-card-title>Solicita tu préstamo personal</mat-card-title>
                <hr>
                <br>  
                  <mat-form-field appearance="fill">
                    <mat-label>Selecciona una cuenta</mat-label>
                    <mat-select>
                    <mat-option *ngFor="let user of users" [value]="user.value">
                      {{user.viewValue}}
                    </mat-option>
                    </mat-select>
                  </mat-form-field>
                <br>
                <br>
                    <mat-slider
                        thumbLabel
                        [displayWith]="formatLabel"
                        tickInterval="10000"
                        step="1000"
                        min="9000"
                        max="100000"
                        aria-label="units"
                                >
                    </mat-slider>
                            <label class="example-value-label">Value$$$</label>
                            <mat-card-subtitle>Elige un monto</mat-card-subtitle>
                    <br>
                    <mat-form-field appearance="fill">
                      <mat-label>Elige tu fecha de pago</mat-label>
                      <input matInput [matDatepicker]="picker">
                      <mat-hint>MM/DD/YYYY</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <br>
                    <br>
                            <div>
                                <button 
                                    mat-raised-button color="accent" 
                                    routerLink="/register">Enviar solicitud
                                </button>
                            </div>
              </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>No.</th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>
             
                <ng-container matColumnDef="monto">
                  <th mat-header-cell *matHeaderCellDef> Monto</th>
                  <td mat-cell *matCellDef="let element"> {{element.monto | currency }} </td>
                </ng-container>
              
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>
              
                <ng-container matColumnDef="correo">
                  <th mat-header-cell *matHeaderCellDef> Correo</th>
                  <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            
        </mat-grid-tile>
        
      </mat-grid-list> 


        